.container {
    display:flex;
    min-height: 100vh;
    border-radius: 30px;
}

.map{
  flex: 1;
  max-width: 80%;
  padding: 20px;
  
}

.country-info {
   flex:1; 
   padding: 20px;
   border-radius: 5px;
   background-color: rgb(233, 110, 54);
   height: 40%;
   margin:20px;
   max-width: 20%;
}

.heading {
  display: flex; 
  justify-content: center; 
  background-color: rgb(126, 233, 135);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem; 
  text-align: center; 
}

